#app {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row; 
   width: 100%;
   margin: 20%;
   text-align: center;
   justify-content: center;
   padding-left: 35px; 
   gap: 40px;
  
}

.title {
   margin-right: auto;
   margin-left: auto;
   font-family: var(system-ui, apple-system); 
   font-size: 48px;
   color: purple;
   
   
}

.btn btn-primary {
   margin-right: auto;
   margin-left: auto;
}

.card {
   text-align: center;
   width: 100%;
   height: 600px;
   
   align-content: space-evenly;
   
  
}

form {
   width: 50%;
   background-color: plum;
   margin-right: auto;
   margin-left: auto;
   border: 20%;
   padding: 5%;
   ;
}
