#app {
   display: flex;
   max-width: 1400px;
   flex-wrap: wrap;
   justify-content: left;
}

.title {
   text-align: center;
   font-family: var(system-ui, apple-system); 
   font-size: 52px;
   color: purple;
}

#cats #dogs #dinos #all-pets {
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.buttons {
   display: flex;
   justify-content: center;
}

.card {
   text-align: center;
}

.card-img-top {
   max-height: 191px;
   object-fit: cover;
}

form {
   width: 50%;
   background-color: plum;
   margin-right: auto;
   margin-left: auto;
   border: 20%;
   padding: 5%;
}
